.qb-filters-editor-help {
  display: block;
  color: #6c757d;
  margin-bottom: 0.5rem;
}

.qb-filters-editor {
  border: 1px solid var(--bs-border-color);
}

.qb-filters-editor-error {
  color: red;
  margin-top: 0.5rem;
}
