#qb-editor {
  Form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}

@mixin qb-box {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  border: 1px solid rgba(35, 50, 90, 0.08);
  border-radius: 1rem;
}

#qb-input {
  @include qb-box;
}

#qb-path-editor {
  @include qb-box;
}

.qb-path-item {
  background: rgba(255, 255, 255, 0.75);
  @include qb-box;
  position: relative;
}

.qb-path-item-controls {
  position: absolute;
  top: -10px;
  right: -8px;

  .qb-path-item-remove {
    border-radius: 1rem;
    line-height: 1;
    padding: 0.25rem;
  }
}

.qb-accordion-header {
  width: 100%;

  button {
    padding: 0.375rem 0.75rem;
  }
}
