#qb-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;

	@media (min-width: 992px) {
		gap: 1.5rem;
		flex-direction: row;
		margin-bottom: 2rem;
	}

	img {
		width: 300px;
	}

	code {
		font-size: 5rem;
		font-weight: bold;
	}
}

.carousel-item {
	padding: 0 1rem;
	transition-duration: 0.5s;
}

.qb-card {
	border: 0;
	border-radius: var(--bs-border-radius);
}

.table {
	margin-bottom: 0;
}

.qb-section-header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.75rem;
	margin-bottom: 0.25rem;

	h2 {
		margin-bottom: 0.25rem;
	}
}
